<a href="https://colab.research.google.com/github/jyotidabass/Categorical_to_numerical/blob/main/Copy_of_categorical_to_numerical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd
 
# read csv file
df = pd.read_csv('/content/sample_data/data.csv')
 
# replacing values
df['Eat pattern'].replace(['Breakfast','lunch','dinner', 'evening snacks', 'late night snacks'],
                        [0,1,2,3,4], inplace=True)
df['Meal source'].replace(['delivery service','restaurant cooked/order','home cooked by chef', 'home cooked by self'],
                        [0,1,2,3], inplace=True)
df

,Diet preference,Workout,Stress level,Eat pattern,Meal source,Food supplements
0,Vegan,1/2 times,0,0,0,yes
1,Vegan,3-5 times,0,0,0,yes
2,Vegan,more than 5 times,0,0,0,yes
3,Vegan,1/2 times,1,0,0,yes
4,Vegan,1/2 times,2,0,0,yes
...,...,...,...,...,...,...
6995,Pescetarian,more than 5 times,6,4,3,no
6996,Pescetarian,more than 5 times,7,4,3,no
6997,Pescetarian,more than 5 times,8,4,3,no
6998,Pescetarian,more than 5 times,9,4,3,no
6999,Pescetarian,more than 5 times,10,4,3,no

In [ ]:
from google.colab import drive
drive.mount('/content/drive')